body,
ul,
li,
h1,
h2,
a {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
}
body{
   background-color: rgb(238, 230, 230);
}

header {
   background-color: lightskyblue;
   padding: 20px;
   text-align: center;
   position: fixed;
   width: 100%;
   z-index: 1;
   top: 0;
   left: 0;

}
header img{
   height: 80px;
   width: 80px;
   z-index: 1;
   left: 100px;
   right: 0px;
   left: 410px;
   top: 12px;
   position: absolute;
}

header h1 {
   color:white;
   padding: 12px 6px;
   z-index: 2;
   position: relative;
   left: 0px;
   -webkit-text-stroke-color:black;
   -webkit-text-stroke-width: 1.5px;
   text-align: center;
}

header a{
   text-decoration: none;
}

section h3{
   left: 10px;
}


p{
   margin-left: 10px;
   font-family: "Times New Roman", Times, serif;
}
h2{
   margin-left: 10px;
   font-family: "Times New Roman", Times, serif;
   
}
footer{
   background: lightskyblue;
   color: white;
   padding: 10px;
   text-align: center;
}
.images{
   text-align: center;
}

@media screen and (min-width: 1700px){
   header img{
     height: 80px;
     width: 80px;
     z-index: 1;
     right: 0px;
     left: 740px;
     top: 12px;
     position: absolute;
 }
 }
 
 @media screen and (max-width: 1250px){
   header img{
      display: none;
   }
 }